@import url('https://fonts.googleapis.com/css?family=Ovo&display=swap');
@import url("https://use.typekit.net/psb3xzg.css");
@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&display=swap');

$body-font: "Ovo",
serif;
$title-font: "Stint Ultra Expanded",
serif;


.header {
  // height: 100vh;
  box-sizing: border-box;
  margin: 5rem;

  // a:link,
  // a:visited {
  //   color: #F3A82D;
  //   text-decoration: none;

  // }

  // a:hover {
  //   color: #FF5733;
  //   border-bottom: 1px dashed #F3A82D;
  // }

  .header-text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Stratos", sans-serif;
    font-weight: 100;
    width: 70vw;
    // text-align: justify;
  }

  .title {
    // font-family: "Proxima Nova", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    text-decoration: none;
    font-weight: 700;
    margin: 3rem 0 1rem 0;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 2rem 0 0 0;
  }

  .nav-item {
    color: #000000;
    font-size: 1.5rem;
    margin-right: 1.3rem;
    text-decoration: none;
  }

  .nav-item:hover {
    color: #F3A82D;
  }

  .active-nav-item {
    color: #FF5733;
  }
}